@tailwind base;
@tailwind components;
@tailwind utilities;



.loginContent{
  width: 450px;
  height: 500px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContent input{
  height: 40px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;

}

.loginContent form{
margin-top: 50px;
}

.loginContent button{
  height: 40px;
  width: 100%;
  color: white;
  font-weight: bold;
}

.loginIMG{
  position:absolute;
  height: 100%;
  width: 100%;
}
.schoolIconContainer{
  width:85px;
  height: 85px;
  margin-top: 80px;
}

.schoolIcon{
  width: 100%;
  height:100%;
}

.LogoutButton{
  width: 80px;
  height: 30px;
  background-color:#004062;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
}

.ContainerMenu ul{
  width: 600px;
  margin-top: 20px;
  margin-left: 20px;

}

.ContainerMenu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 100px;
  background-color: rgb(243, 243, 243);
  border-bottom: 1px solid rgb(204, 204, 204);
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.ContainerMenu li:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ContainerMenu li img{
  cursor: pointer;
}

.background{
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(240, 248, 255, 0.368);
  z-index:-1;
  left: 0;
  position: absolute
}

.studentsListContainer{
  height: 100vh;
  border-radius: 5px;
}
.studentsTable{
  height: 600px;
  overflow-x: auto;
  overflow-y:auto;
}
.studentsTable::-webkit-scrollbar{
  background-color: #e5e9f2;
  width: 10px;
}

.studentsTable::-webkit-scrollbar-thumb{
  background-color: #004062;
}

table{
  background-color: aliceblue;

}

th{
padding: 15px;
text-align: left;

}

td{
  border-bottom: 1px solid rgb(207, 207, 207);
  font-size: 18px;
  padding: 10px;
 
}

.containerInput{
  border: 1px solid black;
  width: 400px;
  height: 40px;
  display: flex;
  background-color: white;
  align-items: center;
  padding-right: 10px;
}

.containerInput >input{
height: 100%;
padding-left: 10px;
padding-right: 10px;
font-size: 20px;
}

.containerInput img{
width: 30px;
height: 30px;
}

.select_situation{
  border: 1px solid black;
  height: 40px;
  width: 250px;
  font-size: 20px;
}
.tableAllNotesContainer{
  width: 100%;
  min-height: 100vh;
}

.tableAllNotes  td:not(:first-child){
  text-align: center;
}
.tableAllNotes  td{
    border:2px solid rgb(0, 0, 0);
  font-weight: bolder;
}

.studentInfoContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.studentInfo{
display: flex;
flex-direction: column;
margin-left: -100px;


}

.legContainer p{
margin-left: 5px;
font-weight: bold;
}

.Leg {
  height:25px;
  width:25px;

}

.aproved{
  background-color:#87CEFA;
}

.reproved{
  background-color:#FA8072;
}

.tableAllNotesSubContainer{
width: 100%;
height: 100%;

}



.tableAllNotes{
  margin: auto;
  width: 80%;
  margin-top: 20px;
}

.addStudentContainer{
min-height: 100%;
display: flex;
}

.addStudentSubContainer{
  /* width: 800px;
  background-color:aliceblue;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px; */

}


.containerAddStudentIMG{
  height: 100px;
  margin-top: 20px;
}
.addStudentContainer img{
 
  margin: auto;
}

.addStudentSubContainer{
  background-color: #F0F8FF;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  width: 700px;
  height: 500px;
}

.addStudentContent{
  display: flex;
  width: 500px;
  flex-direction: column;
  margin: auto;
}


.addStudentContainer label{
font-size: 20px;
margin-top: 10px;
font-weight: bold;
}

.addStudentContainer input{
  border:1px solid rgb(154, 154, 154);
  /* border-radius: 8px; */
  height: 40px;
  font-size: 20px;
  padding-left: 10px;

}

.addStudentContainer button{
  margin-top: 10px;
  width: 100%;
  background-color:#3b82f6;
  height: 40px;
  /* border-radius: 8px; */
  color: white;
  font-weight: bold;
}

.addNoteSubContainer{
  width: 500px;
  height: 600px;
  background-color:rgb(246, 246, 246);
  border-radius: 10px;
  display: flex;
  align-items: center;
}


.addNoteContent{
  display: flex;
  flex-direction: column;

}

.addNoteContent label{
  font-size: 30px;
  margin-top: 10px;
}

.addNoteContent input{
  font-size:40px
}

.addNoteContent input{
  width: 100%;
  height: 40px;
 
}

.addNoteContent select{
  margin-top: 10px;
  font-size: 20px;;
  width: 100%;
  height: 40px;
}


.addNoteContent{
  width: 80%;
  margin: auto;
}

.addNoteContent option{
  font-size: 20px;
}

.clearButton{
  background-color:#933b31;
}
.saveButton{
  background-color:#004062
}

.addNoteContent button{
  height: 40px;
  color: white;
  width: 180px;
  margin: auto;
  border-radius: 5px;

}

.tableNotes_toAdd{
  width: 400px;
  line-height: 40px;
  font-weight: bold;
  border-radius: 10px;

  margin-top: 80px;
}

.SelectStudentContainer{
  border-radius: 10px;
}

.tableNotes_toAdd th{
font-size: 30px;
}


.SelectStudentContainer::-webkit-scrollbar-thumb{
background-color: #004062;
}

.SelectStudentContainer::-webkit-scrollbar{
  width: 10px;
  background-color: #e5e9f2;
}

.SelectStudentContainer input{
  border:none;
  outline:none;
  font-size: 20px;
}
#select_situations{
  width: 200px;
  height: 40px;
  border: 1px solid black;
  font-size: 22px;
}