@tailwind base;
@tailwind components;
@tailwind utilities;



.loginContent{
  width: 450px;
  height: 500px;
  border-radius: 5px;

}

.loginContent input{
  height: 40px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;

}

.loginContent button{
  height: 40px;
  width: 100%;
  color: white;
  font-weight: bold;
}

.loginIMG{
  position: absolute;
  height: 100%;
  width: 100%;
}
